<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Herbal Kitchen</a
    ><button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item d-md-flex">
          <a class="nav-link" routerLink="/about">About</a
          ><a class="nav-link" routerLink="/list">Recipes</a
          >
          <!-- <a class="nav-link" routerLink="/new">Create Recipe</a> -->
          <!-- <a class="nav-link" routerLink="/display">Display</a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container text-center mb-3">
  <footer>
    <div class="row">
      <div class="col-12"><small>© Aditya Venkatesh Prasad 2021</small></div>
    </div>
  </footer>
</div>
