<div class="container margin-top">
  <div class="text-center">
    <h1>About my site</h1>
    <img class="about-img" src="../../assets/images/pexels-charlotte-may-5946612.jpg" alt="some herbal mixed juice">
    <p>
      Want to cook healthy and delicious food? The Herbal Kitchen has recipes
      curated from ancient parts of India. We even have state of the art
      technology to accept ingredients list from you and provide a list of
      recipes you can prepare. Give it a try, you will love it!
    </p>
  </div>
</div>
